<head>
    <!-- site title and favicon -->
    <title>Booking System</title>
    <link rel="icon" type="image/png" href="https://imgur.com/a/8TZlvQp.png">
</head>

<body>
    <!-- header -->
    <header>
        <h1>Booking System</h1>
    </header>
    <!-- main -->
    <main>
        <!-- background image -->
        <div id="background-image"></div>
        <!-- button -->
        <button onclick="window.location.reload()">Run Program</button>
        <!-- terminal window-->
        <div id="terminal"></div>

        <script>
            var term = new Terminal({
                cols: 80,
                rows: 24
            });
            term.open(document.getElementById('terminal'));
            term.writeln('Running startup command: python3 run.py');
            term.writeln('');

            var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
                ':' + location.port) : '') + '/');

            ws.onopen = function () {
                new attach.attach(term, ws);
            };

            ws.onerror = function (e) {
                console.log(e);
            };
            // Set focus in the terminal
            document.getElementsByClassName("xterm-helper-textarea")[0].focus();
        </script>
    </main>
     <!-- footer -->
    <footer>
            <!-- about site -->
            <p>This website was created as a portfolio project and has no commercial purpose.</p>
            <!-- social media -->
            <div>
                <a href="https://github.com/oks-erm" target="_blank"
                    aria-label="Oksana Erm's GitHub profile (opens in a new tab)"> <i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/oksana-erm/" target="_blank"
                    aria-label="Oksana Erm's LinkedIn profile (opens in a new tab)"><i class="fa-brands fa-linkedin"></i></a>
            </div>
    </footer>
</body>